*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
 */

 .container{
    width: 90%;
    margin: 0 auto;
 }
 .nas{
    display: flex;
    justify-content: flex-end;
 
 }

 .nas li {
    list-style: none;
    padding: 10px;
   
 }

 li a {
    text-decoration: none;
 }